{% extends 'gym/base.html' %}
{% load static %}


{% block 'content' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 freepass d-flex align-items-center">
            <h2 contenteditable="true">1 DAY FREE GUEST
                <span class="span1 ">PASS</span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="css1 p-5">
                RIDE THE WAVE TO A HEALTHIER YOU!
            </div>
            <div class="row pt-0 p-5 fs-4">
                <p>🌟 <strong>Welcome to Waves Gym!</strong> 🌟</p>
                <p>Dive into a sea of fitness opportunities with our <strong>EXCLUSIVE Free Gym Pass</strong>! 🎫</p>
                <p>🔥 <strong>Here’s what’s in store for you at Waves Gym:</strong></p>
                <ul>
                    <li><strong>State-of-the-Art Facilities:</strong> Tour our modern gym, equipped with the latest
                        fitness technology.</li>
                    <li><strong>Complimentary Personal Training:</strong> Get started on the right foot with a session
                        from our expert trainers.</li>
                    <li><strong>Locker Access:</strong> Secure your belongings and focus on your workout with peace of
                        mind.</li>
                    <li><strong>Body and Wellness Check-up:</strong> Take advantage of our free Body Mass Index test and
                        fitness assessments to tailor your workout perfectly to your needs.<br><br></li>
                </ul>
                <p>💙 <strong>Your Wellness, Our Passion:</strong> We’re not just a gym, we’re your personal fitness
                    partner. Our mission is to foster health and wellness for everyone, regardless of where you are on
                    your fitness journey.</p>
                <p>👋 <strong>Ready for a Change?</strong> Visit us at Waves Gym, Andheri, and let us show you why we’re
                    the right fit for you.</p>
                <p><strong>Join us now and make a splash in your fitness journey!</strong></p>
                <p>Sign up for your free pass today!</p>
            </div>


        </div>


        <div class="col-md-4  p-5 " >
            <!-- <div class="row bg-body-secondary p-4 rounded " >
                <form class="" ">
                    <div class="css2 py-3">
                        1 DAY FREE GUEST PASS
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp" placeholder="First Name">
                    </div>
                    <div class="mb-3">
                        <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp" placeholder="Last Name">
                    </div>
                    <div class="mb-3">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email address">
                    </div>
                    <div class="mb-3">
                        <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
                    </div>
                    <div class="mb-3 form-check">
                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                        <label class="form-check-label" for="exampleCheck1">I am interested in <strong>"1 Day Free Guest Pass"</strong>  at Waves Gym Andheri W, Mumbai. Please call me.</label>
                    </div>
                    <button type="submit" class="btn btn-outline-warning css2">Send</button>
                </form>
                

            </div> -->

            <div class="card p-5 rounded border-0">
                
                
                  <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=waves%20gym%20,5th%20Floor,%20Morya%20Estate,%20New%20Link%20Rd,%20opp.%20Infiniti%20Mall,%20Veera%20Desai%20Industrial%20Estate,%20Andheri%20West,%20Mumbai,%20Maharashtra%20400053+(waves%20gym)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/">gps trackers</a></iframe></div>
              </div>
            

        </div>
    </div>
</div>





<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>







{% endblock %}