{% extends 'gym/base.html' %}
{% load static %}


{% block 'content' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 accrecovery d-flex align-items-center">
            <h2 contenteditable="true">ACCELERATE RECOVERY WITH <br>
                <span class="span1 fs-1">NORMATEC AIR COMPRESSION</span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="css1 p-5">
                ACCELERATE YOUR RECOVERY: EXPERIENCE THE POWER OF NORMATEC THERAPY - BOOK YOUR HEALING SESSION TODAY!
            </div>



            <div class="row pt-0 p-5 fs-4">
                <p>At Waves Gym, we’re excited to introduce the <em><strong>Normatec Recovery System</strong></em> –
                    your ultimate solution to bounce back faster and perform better. Trusted by the world’s elite
                    athletes, the Normatec is engineered to turbocharge your recovery process, ensuring you’re always at
                    the top of your game.</p>
                <p><strong>Why Make Normatec Air Compression Therapy a Part of Your Recovery Routine?</strong></p>
                <ol>
                    <li><strong>Enhanced Recovery Speed</strong>: By increasing blood flow to the muscles, Normatec air
                        compression helps reduce recovery time, allowing you to return to your training regimen faster.
                    </li>
                    <li><strong>Reduced Muscle Soreness</strong>: Post-strength conditioning, muscle soreness can be a
                        significant setback. Normatec’s sequential pulse technology helps alleviate this discomfort,
                        making your recovery as efficient as your workout.</li>
                    <li><strong>Customizable Sessions</strong>: With fully adjustable settings, you can tailor your
                        recovery session to match your specific needs, focusing on the areas that require the most
                        attention.</li>
                </ol>
                <p><br>Incorporating Normatec’s therapy into your recovery plan post-strength conditioning can
                    revolutionize the way you train and recover. By dedicating as little as 20-30 minutes to air
                    compression therapy, you’re not just investing in your performance; you’re safeguarding your
                    progress and ensuring that every workout counts.</p>
                <h3><strong>Session Details</strong></h3>
                <ol>
                    <li><strong>Duration:</strong>&nbsp;Each 30-minute session boosts circulation, alleviates soreness,
                        and improves flexibility.</li>
                    <li><strong>Rate:</strong>&nbsp;Experience state-of-the-art recovery with our special introductory
                        offer of just ₹499 per session, a dramatic reduction from the usual rate of ₹2500. Available
                        exclusively in May!</li>
                    <li><strong>Booking:</strong>&nbsp;Effortlessly secure your spot by calling Waves Gym at
                        02266787970. Our dedicated team will ensure your preferred time slot is booked.</li>
                    <li><strong>Join Us Today:</strong>&nbsp;Elevate your fitness journey at Waves Gym with the Normatec
                        Recovery System. It’s more than a tool—it’s your path to peak
                        performance.<br><em><strong><br>Reserve now and unlock the secret to refreshed legs and enhanced
                                recovery. Don’t miss out—this offer is for May only!</strong></em></li>
                </ol>
            </div>





        </div>


        <div class="col-md-4  p-5 ">
            <!-- <div class="row bg-body-secondary p-4 rounded ">
                <form class="" ">
                    <div class=" css2 py-3">
                        ACCELERATE RECOVERY WITH NORMATEC AIR COMPRESSION
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp"
                    placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp"
                    placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email address">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I am interested in <strong> "Accelerate Recovery with Normatec Air Compression"</strong> at Waves
                    Gym Andheri W, Mumbai. Please call me.</label>
            </div>
            <button type="submit" class="btn btn-outline-warning css2">Send</button>
            </form>


        </div> -->

        <div class="card p-5 rounded border-0">


            <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=waves%20gym%20,5th%20Floor,%20Morya%20Estate,%20New%20Link%20Rd,%20opp.%20Infiniti%20Mall,%20Veera%20Desai%20Industrial%20Estate,%20Andheri%20West,%20Mumbai,%20Maharashtra%20400053+(waves%20gym)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                        href="https://www.gps.ie/">gps trackers</a></iframe></div>
        </div>


    </div>
</div>
</div>





<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>







{% endblock %}