{% extends 'gym/base.html' %}
{% load static %}


{% block 'content' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 careers d-flex align-items-center">
            <h2 contenteditable="true">WAVES GYM <br>
                <span class="span1 fs-5">Embark on an exciting fitness career at Waves Gym in Mumbai. Experience a
                    culture of growth and excellence in a supportive, dynamic team environment.</span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="css1 p-5">
                JOIN THE WAVES GYM TEAM – WHERE FITNESS AND CAREER GOALS ALIGN
            </div>



            <div class="row pt-0 p-5 fs-4">
                <div class="elementor-widget-container">
                    <style>
                        /*! elementor - v3.18.0 - 20-12-2023 */
                        .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                            background-color: #69727d;
                            color: #fff
                        }

                        .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                            color: #69727d;
                            border: 3px solid;
                            background-color: transparent
                        }

                        .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                            margin-top: 8px
                        }

                        .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                            width: 1em;
                            height: 1em
                        }

                        .elementor-widget-text-editor .elementor-drop-cap {
                            float: left;
                            text-align: center;
                            line-height: 1;
                            font-size: 50px
                        }

                        .elementor-widget-text-editor .elementor-drop-cap-letter {
                            display: inline-block
                        }
                    </style>
                   
                    <p><strong>Discover Your Path at Mumbai’s Premier Fitness Destination</strong></p>
                    <p>At Waves Gym, we’re not just about fitness; we’re about fostering careers. Located in the vibrant
                        heart of Mumbai, Andheri West, our 10,000 Sq Ft facility is more than a gym – it’s a launchpad
                        for professional growth in the fitness industry.</p>
                    <p><strong>Why Waves Gym?</strong></p>
                    <ul>
                        <li><strong>Culture of Growth:</strong> We thrive on openness, learning, and empowerment. Here,
                            you’re not just an employee; you’re an integral part of a team dedicated to excellence.</li>
                        <li><strong>Dedication to Fitness:</strong> As one of Mumbai’s most respected fitness
                            destinations, we’re committed to making our city fitter and stronger.</li>
                        <li><strong>Continuous Learning:</strong> We invest in our team. From exercise instructors to
                            front-of-house staff, we ensure everyone is equipped with the latest international
                            certifications and training.</li>
                        <li><strong>Inclusivity and Perseverance:</strong> We champion these values, encouraging our
                            team to push boundaries and excel in their roles.</li>
                        <li><strong>Supportive Work Environment:</strong> Our management’s open-door policy means your
                            ideas are heard, valued, and often implemented, reflecting our core values of hard work,
                            determination, and excellence.</li>
                    </ul>
                    <p><strong><br>We’re Looking For:</strong></p>
                    <ul>
                        <li>Passionate individuals eager to make an impact in the fitness industry.</li>
                        <li>Team players who value hard work and determination.</li>
                        <li>Dynamic personalities ready to contribute to a fun and energetic environment.</li>
                    </ul>
                    <p><strong><br>Your Opportunity:</strong></p>
                    <ul>
                        <li>Be part of a young, vibrant team poised to make waves in Mumbai’s fitness scene.</li>
                        <li>Work in an environment where your growth is our priority.</li>
                        <li>Embark on a fulfilling career path with endless possibilities for personal and professional
                            development.</li>
                    </ul>
                    <p><strong><br>Ready to Join Us?</strong> Submit your resume below and take the first step towards a
                        rewarding career at Waves Gym, where every day is an opportunity to excel.</p>
                </div>




            </div>






        </div>


        <div class="col-md-4  p-5 ">
            <!-- <div class="row bg-body-secondary p-4 rounded ">
                <form class="" ">
                    <div class=" css2 py-3">
                    SIGN-UP TODAY!
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp"
                    placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp"
                    placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email address">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I am interested in <strong> "Membership"</strong> at
                    Waves
                    Gym Andheri W, Mumbai. Please call me.</label>
            </div>
            <button type="submit" class="btn btn-outline-warning css2">Send</button>
            </form>


        </div> -->

        <div class="card p-5 rounded border-0">


            <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=waves%20gym%20,5th%20Floor,%20Morya%20Estate,%20New%20Link%20Rd,%20opp.%20Infiniti%20Mall,%20Veera%20Desai%20Industrial%20Estate,%20Andheri%20West,%20Mumbai,%20Maharashtra%20400053+(waves%20gym)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                        href="https://www.gps.ie/">gps trackers</a></iframe></div>
        </div>


    </div>
</div>
</div>










<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


{% endblock %}