{% extends 'gym/base.html' %}
{% load static %}


{% block 'content' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 kickboxing d-flex align-items-center">
            <h2 contenteditable="true">KICKBOXING <br>
                <span class="span1 fs-3">Whack them Fitness Struggles and Grow Strong!</span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="css1 p-5">
                KICKBOXING CLASSES
            </div>



            <div class="row pt-0 p-5 fs-4">
                <div class="elementor-element elementor-element-9d7bf6c e-con-full e-flex e-con e-child"
                    data-id="9d7bf6c" data-element_type="container"
                    data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
                    <div class="elementor-element elementor-element-d0de8ac elementor-widget elementor-widget-theme-post-content"
                        data-id="d0de8ac" data-element_type="widget" data-widget_type="theme-post-content.default">
                        <div class="elementor-widget-container">
                            <div data-elementor-type="wp-post" data-elementor-id="2256" class="elementor elementor-2256"
                                data-elementor-post-type="workout">
                                <div class="elementor-element elementor-element-042f072 e-con-full e-flex e-con e-parent"
                                    data-id="042f072" data-element_type="container"
                                    data-settings="{&quot;content_width&quot;:&quot;full&quot;}"
                                    data-core-v316-plus="true">
                                    <div class="elementor-element elementor-element-357d9f6 elementor-widget elementor-widget-heading"
                                        data-id="357d9f6" data-element_type="widget" data-widget_type="heading.default">
                                        <div class="elementor-widget-container">
                                            <h3 class="elementor-heading-title elementor-size-default">kickboxing
                                                classes</h3>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-41747d7 elementor-widget elementor-widget-text-editor"
                                        data-id="41747d7" data-element_type="widget"
                                        data-widget_type="text-editor.default">
                                        <div class="elementor-widget-container">
                                            <style>
                                                /*! elementor - v3.18.0 - 20-12-2023 */
                                                .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                                    background-color: #69727d;
                                                    color: #fff
                                                }

                                                .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                                    color: #69727d;
                                                    border: 3px solid;
                                                    background-color: transparent
                                                }

                                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                                    margin-top: 8px
                                                }

                                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                                    width: 1em;
                                                    height: 1em
                                                }

                                                .elementor-widget-text-editor .elementor-drop-cap {
                                                    float: left;
                                                    text-align: center;
                                                    line-height: 1;
                                                    font-size: 50px
                                                }

                                                .elementor-widget-text-editor .elementor-drop-cap-letter {
                                                    display: inline-block
                                                }
                                            </style>
                                            <p><span style="font-weight: 400;">Kickboxing is a blend of the best of
                                                    self-defense and combat sports. Evolved from Karate, this is mostly
                                                    practiced for self-defense, fitness, and also as a
                                                    sport.&nbsp;</span></p>
                                            <p><span style="font-weight: 400;">Reach your fitness goals faster and grow
                                                    stronger with our Kickboxing classes.&nbsp;</span></p>
                                            <p><strong>BENEFITS:</strong></p>
                                            <ul>
                                                <li style="font-weight: 400;"><span style="font-weight: 400;">Reduces
                                                        Stress and boosts confidence</span></li>
                                                <li style="font-weight: 400;"><span style="font-weight: 400;">Reduces
                                                        belly fat, eventually reducing the risk of heart disease and
                                                        diabetes</span></li>
                                                <li style="font-weight: 400;"><span style="font-weight: 400;">Improves
                                                        Hand-Eye Coordination</span></li>
                                                <li style="font-weight: 400;"><span style="font-weight: 400;">Improves
                                                        core strength and muscle strength</span></li>
                                                <li style="font-weight: 400;"><span style="font-weight: 400;">Builds
                                                        faster reflexes and improves balance</span></li>
                                            </ul>
                                            <p><strong>WHY WAVES?</strong></p>
                                            <ul>
                                                <li style="font-weight: 400;"><span
                                                        style="font-weight: 400;">Experienced and certified
                                                        instructors</span></li>
                                                <li style="font-weight: 400;"><span style="font-weight: 400;" >Dedicated
                                                        spacious <a href="/classes" class="text-warning" style="text-decoration: none;">group fitness
                                                            studio&nbsp;</a></span></li>
                                            </ul>
                                            <p><span style="font-weight: 400;">Come, learn how to defend yourself! Give
                                                    our <a href="/offers/1-day-free-guest-pass/" class="text-warning" style="text-decoration: none;">FREE
                                                        trial class</a> a go.</span></p>
                                        </div>
                                    </div>
                                    <div class="elementor-element elementor-element-a00df6a elementor-widget elementor-widget-image row"
                                        data-id="a00df6a" data-element_type="widget" data-widget_type="image.default">
                                        <div class="elementor-widget-container col-md-6">
                                            <img fetchpriority="high" decoding="async" width="768" height="512"
                                                src="https://wavesgym.com/wp-content/uploads/2019/02/6-768x512.jpg"
                                                class="attachment-medium_large size-medium_large wp-image-3792 img-thumbnail"
                                                alt="Kickboxing"
                                                srcset="https://wavesgym.com/wp-content/uploads/2019/02/6-768x512.jpg 768w, https://wavesgym.com/wp-content/uploads/2019/02/6-300x200.jpg 300w, https://wavesgym.com/wp-content/uploads/2019/02/6-1024x683.jpg 1024w, https://wavesgym.com/wp-content/uploads/2019/02/6-1536x1024.jpg 1536w, https://wavesgym.com/wp-content/uploads/2019/02/6-2048x1366.jpg 2048w"
                                                sizes="(max-width: 768px) 100vw, 768px">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                    
                </div>






            </div>


            <div class="col-md-4  p-5 ">
                <!-- <div class="row bg-body-secondary p-4 rounded ">
                    <form class="" ">
                    <div class=" css2 py-3">
                        BOOK A FREE CLASS
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp"
                        placeholder="First Name">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp"
                        placeholder="Last Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Email address">
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">I am interested in <strong>
                            "Kickboxing"</strong> at Waves
                        Gym Andheri W, Mumbai. Please call me.</label>
                </div>
                <button type="submit" class="btn btn-outline-warning css2">Send</button>
                </form>


            </div> -->

            <div class="card p-5 rounded border-0">


                <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no"
                        marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=waves%20gym%20,5th%20Floor,%20Morya%20Estate,%20New%20Link%20Rd,%20opp.%20Infiniti%20Mall,%20Veera%20Desai%20Industrial%20Estate,%20Andheri%20West,%20Mumbai,%20Maharashtra%20400053+(waves%20gym)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                            href="https://www.gps.ie/">gps trackers</a></iframe></div>
            </div>


        </div>
    </div>
</div>









<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>



{% endblock %}