{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Member Signup</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.css">
    <!-- Font special for pages-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <!-- Main CSS-->
    <link href="{% static 'css/main.css' %}" rel="stylesheet" media="all">
    <link rel="stylesheet" href="{% static 'css/RegisterPage.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <style>
        /* Custom styles for the signup page can be added here */
        .input--style-5 {
            /* Add your custom styles here */
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            width: 100%;
        }
        .form-box{
    position: relative;
    width: 400px;
    height: 1200px;
    background: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    border-radius: 20px;
    backdrop-filter: blur(25px);
    display: flex;
    justify-content: center;
    align-items: center;

}
        
    </style>
</head>
<body>

    {% include "gym/navbar.html" %}
    <div class="container-fluid">
<section>
    <div class="form-box m-5">
        <div class="form-value p-5">
          
                    <form method="POST"  enctype="multipart/form-data">
                      
                        
                        <h3 style="font-size: 2em; color: #fff; text-align: center; font-weight: bold;" class="p-4">Member Signup</h3>
                        {% if messages %}
                        <div class="mb-4">
                            {% for message in messages %}
                                <div class="alert alert-danger text-center" role="alert">
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    {% endif %}
                        {% csrf_token %}
                        <!-- <div class="form-row">
                            <div class="name">First Name</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.first_name|attr:'' class="input--style-5" %}
                                </div>
                            </div>
                        </div> -->
                        <div class="inputbox">
                            <ion-icon name="person-outline"></ion-icon>
                            {% render_field userForm.first_name|attr:'' class="input--style-5" %}
                            <label for="id_first_name">First Name</label>
                        </div>




                        <!-- <div class="form-row">
                            <div class="name">Last Name</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.last_name|attr:'' class="input--style-5" %}
                                </div>
                            </div>
                        </div> -->

                        <div class="inputbox">
                            <ion-icon name="person-outline"></ion-icon>
                            {% render_field userForm.last_name|attr:'' class="input--style-5" %}
                            <label for="id_last_name">Last Name</label>
                        </div>
                    

                        <div class="inputbox">
                            <ion-icon name="mail-outline"></ion-icon>
                            {% render_field userForm.email class="input--style-5" %}
                            <label for="id_email">Email</label>
                        </div>


                        <!-- <div class="form-row">
                            <div class="name">Username</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.username|attr:'' class="input--style-5" %}
                                </div>
                            </div>
                        </div> -->
                    
                       


                        <div class="inputbox">
                            <ion-icon name="person-outline"></ion-icon>
                            {% render_field userForm.username|attr:'' class="input--style-5" %}
                            <label for="id_username">User Name</label>
                        </div>

                        <!-- <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field userForm.password|attr:'' class="input--style-5" %}
                                </div>
                            </div>
                        </div> -->

                        <div class="inputbox">
                            <ion-icon name="lock-closed-outline"></ion-icon>
                            {% render_field userForm.password|attr:'' class="input--style-5" %}
                            <label for="id_password">Password</label>
                        </div>
                    
                        <!-- <div class="form-row">
                            <div class="name">Mobile</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field memberForm1.mobile|attr:'' class="input--style-5" %}
                                </div>
                            </div>
                        </div> -->

                        <div class="inputbox">
                            <ion-icon name="call-outline"></ion-icon>
                            {% render_field memberForm1.mobile|attr:'' class="input--style-5" %}
                            <label for="id_mobile">Mobile</label>
                        </div>

                        <!-- <div class="form-row">
                            <div class="name">Age</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field memberForm1.age|attr:'' class="input--style-5" %}
                                </div>
                            </div>
                        </div> -->

                        <div class="inputbox">
                            <ion-icon name="calendar-outline"></ion-icon>
                            {% render_field memberForm1.age|attr:'' class="input--style-5" %}
                            <label for="id_age">Age</label>
                        </div>


                        <div class="inputbox">
                            <div class="name text-light">Package</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field memberForm2.package|attr:'' class="input--style-5" %}
                                </div>
                            </div>
                        </div>
                    
                        <div class="inputbox">
                            <div class="name text-light">Trainer</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field memberForm2.trainer|attr:'' class="input--style-5" %}
                                </div>
                            </div>
                        </div>
                    
                        <div class="inputbox">
                            <div class="name text-light">Profile Pic</div>
                            <div class="value">
                                <div class="input-group">
                                    {% render_field memberForm1.profile_pic|attr:'required:true' class="input--style-5" %}
                                </div>
                            </div>
                        </div>

                      


                        <div class="d-block text-center">
                            <button class="btn btn--radius-2 btn-danger" type="submit">Register</button>
                        </div>
                  <div class="register">

                 
                    <p style="text-align: center;">Already have an account ? <a style="text-decoration: none;" href="/memberlogin">Click here to login</a></p>
                 </div>
                </form>
            </div>
        </section>
    </div>
    {% include "gym/footer.html" %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="{% static 'js/popper.min.js' %}"></script> 
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>

