{% extends 'gym/base.html' %}
{% load static %}


{% block 'content' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 nutrition d-flex align-items-center">
            <h2 contenteditable="true">NUTRITION
                <span class="span1 fs-3"></span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="css1 p-5">
                BODY COMPOSITION ASSESSMENT
                <br>DIVE DEEPER INTO WHAT MAKES YOU YOU
            </div>




            <div class="row pt-0 p-5 fs-4">
                <div class="elementor-element elementor-element-588a01b elementor-widget elementor-widget-text-editor"
                    data-id="588a01b" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <style>
                            /*! elementor - v3.18.0 - 20-12-2023 */
                            .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                background-color: #69727d;
                                color: #fff
                            }

                            .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                color: #69727d;
                                border: 3px solid;
                                background-color: transparent
                            }

                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                margin-top: 8px
                            }

                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                width: 1em;
                                height: 1em
                            }

                            .elementor-widget-text-editor .elementor-drop-cap {
                                float: left;
                                text-align: center;
                                line-height: 1;
                                font-size: 50px
                            }

                            .elementor-widget-text-editor .elementor-drop-cap-letter {
                                display: inline-block
                            }
                        </style>
                        <p><strong>Transform Your Health with a Complimentary Consultation &amp; InBody
                                Assessment!</strong></p>
                        <p><em>✨ Secure Your Exclusive Offer Now – Call +91 99200 84402! ✨</em></p>
                        <p><strong>Unlock the Mystery of Your Body</strong>: Embark on a journey to better health with a
                            complimentary InBody assessment. Discover the intricate details of your body’s
                            composition—muscle, fat, and water balance. It’s your first step towards a tailored health
                            and fitness plan.</p>
                        <p><strong>Meet Afshin, Your Nutrition Guru:</strong> Afshin, our expert registered dietitian,
                            is not just another nutritionist; she’s a guide to your personalized health route. She’ll
                            provide you with a bespoke nutrition plan that aligns with your unique InBody results.</p>
                        <p><strong>Tailored Just for You:</strong> Enjoy a one-on-one consultation with Afshin, who
                            brings compassion and expertise to your nutrition and health challenges. Whether it’s
                            managing your weight, overcoming food intolerances, or navigating chronic conditions, she’s
                            there to craft a plan that works for you.</p>
                        <p><strong>A Holistic Approach to Wellness:</strong> Combine the power of the InBody assessment
                            with Afshin’s nutritional insights for a comprehensive view of your health. It’s a
                            collaborative effort to ensure your wellness strategy is as multifaceted as you are.</p>
                        <p><strong>Dive into the Science Behind Your Health</strong>: Curious about how the InBody Body
                            Composition Assessment technology works? Visit <a href="http://www.inbodyusa.com"
                                target="_blank" rel="noopener" class="text-warning"
                                style="text-decoration: none;">www.inbodyusa.com</a> for an in-depth look at the
                            cutting-edge tool that will become a cornerstone of your health journey.</p>
                    </div>
                </div>
                <div class="elementor-element elementor-element-6b20eb1 elementor-widget elementor-widget-image row my-3"
                    data-id="6b20eb1" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container col-md-6">
                        <img fetchpriority="high" decoding="async" width="800" height="800"
                            src="https://wavesgym.com/wp-content/uploads/2023/12/InBody-260-Website-Image.jpg"
                            class="attachment-large size-large wp-image-4533 img-thumbnail rounded" alt="InBody 260"
                            srcset="https://wavesgym.com/wp-content/uploads/2023/12/InBody-260-Website-Image.jpg 1024w, https://wavesgym.com/wp-content/uploads/2023/12/InBody-260-Website-Image-300x300.jpg 300w, https://wavesgym.com/wp-content/uploads/2023/12/InBody-260-Website-Image-150x150.jpg 150w, https://wavesgym.com/wp-content/uploads/2023/12/InBody-260-Website-Image-768x768.jpg 768w"
                            sizes="(max-width: 800px) 100vw, 800px">
                    </div>
                </div>
                <div class="elementor-element elementor-element-1dc6963 elementor-widget elementor-widget-text-editor my-3"
                    data-id="1dc6963" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p><strong>✨ Don’t Wait, Your Path to Health Starts Here! ✨</strong></p>
                        <p>Ready to take the first step? Reach out to us at +91 99200 84402 and claim your complimentary
                            consultation and InBody assessment with Afshin.<br>It’s time to embark on your path to
                            wellness with confidence and clarity.</p>
                        <p>Your journey to wellness is unique, and at Waves Gym, we’re excited to be part of your
                            voyage.</p>
                    </div>
                </div>
                <div class="elementor-element elementor-element-b32917d elementor-widget elementor-widget-video row"
                    data-id="b32917d" data-element_type="widget"
                    data-settings="{&quot;youtube_url&quot;:&quot;https:\/\/www.youtube.com\/watch?v=B6jIUOi8puk&amp;t=71s&quot;,&quot;video_type&quot;:&quot;youtube&quot;,&quot;controls&quot;:&quot;yes&quot;}"
                    data-widget_type="video.default" >
                    <div class="elementor-widget-container col-md-6">
                        <style>
                            /*! elementor - v3.18.0 - 20-12-2023 */
                            .elementor-widget-video .elementor-widget-container {
                                overflow: hidden;
                                transform: translateZ(0)
                            }

                            .elementor-widget-video .elementor-wrapper {
                                aspect-ratio: var(--video-aspect-ratio)
                            }

                            .elementor-widget-video .elementor-wrapper iframe,
                            .elementor-widget-video .elementor-wrapper video {
                                height: 100%;
                                width: 100%;
                                display: flex;
                                border: none;
                                background-color: #000
                            }

                            @supports not (aspect-ratio:1/1) {
                                .elementor-widget-video .elementor-wrapper {
                                    position: relative;
                                    overflow: hidden;
                                    height: 0;
                                    padding-bottom: calc(100% / var(--video-aspect-ratio))
                                }

                                .elementor-widget-video .elementor-wrapper iframe,
                                .elementor-widget-video .elementor-wrapper video {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0
                                }
                            }

                            .elementor-widget-video .elementor-open-inline .elementor-custom-embed-image-overlay {
                                position: absolute;
                                top: 0;
                                right: 0;
                                bottom: 0;
                                left: 0;
                                background-size: cover;
                                background-position: 50%
                            }

                            .elementor-widget-video .elementor-custom-embed-image-overlay {
                                cursor: pointer;
                                text-align: center
                            }

                            .elementor-widget-video .elementor-custom-embed-image-overlay:hover .elementor-custom-embed-play i {
                                opacity: 1
                            }

                            .elementor-widget-video .elementor-custom-embed-image-overlay img {
                                display: block;
                                width: 100%;
                                aspect-ratio: var(--video-aspect-ratio);
                                -o-object-fit: cover;
                                object-fit: cover;
                                -o-object-position: center center;
                                object-position: center center
                            }

                            @supports not (aspect-ratio:1/1) {
                                .elementor-widget-video .elementor-custom-embed-image-overlay {
                                    position: relative;
                                    overflow: hidden;
                                    height: 0;
                                    padding-bottom: calc(100% / var(--video-aspect-ratio))
                                }

                                .elementor-widget-video .elementor-custom-embed-image-overlay img {
                                    position: absolute;
                                    top: 0;
                                    right: 0;
                                    bottom: 0;
                                    left: 0
                                }
                            }

                            .elementor-widget-video .e-hosted-video .elementor-video {
                                -o-object-fit: cover;
                                object-fit: cover
                            }

                            .e-con-inner>.elementor-widget-video,
                            .e-con>.elementor-widget-video {
                                width: var(--container-widget-width);
                                --flex-grow: var(--container-widget-flex-grow)
                            }
                        </style>
                        <div class="elementor-wrapper elementor-open-inline">
                            <iframe class="elementor-video" frameborder="0" allowfullscreen=""
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                                referrerpolicy="strict-origin-when-cross-origin" title="What is Body Composition?"
                                width="640" height="500"
                                src="https://www.youtube.com/embed/B6jIUOi8puk?controls=1&amp;rel=0&amp;playsinline=0&amp;modestbranding=0&amp;autoplay=0&amp;enablejsapi=1&amp;origin=https%3A%2F%2Fwavesgym.com&amp;widgetid=1"
                                id="widget2" style="height: 500px; "></iframe>
                        </div>
                    </div>
                </div>


            </div>






        </div>


        <div class="col-md-4  p-5 ">
            <!-- <div class="row bg-body-secondary p-4 rounded ">
                <form class="" ">
                    <div class=" css2 py-3">
                    SIGN-UP TODAY!
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp"
                    placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp"
                    placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email address">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I am interested in booking an appointment for an <strong> "Nutrition"</strong> at
                    Waves
                    Gym Andheri W, Mumbai. Please call me.</label>
            </div>
            <button type="submit" class="btn btn-outline-warning css2">Send</button>
            </form>


        </div> -->

        <div class="card p-5 rounded border-0">


            <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=waves%20gym%20,5th%20Floor,%20Morya%20Estate,%20New%20Link%20Rd,%20opp.%20Infiniti%20Mall,%20Veera%20Desai%20Industrial%20Estate,%20Andheri%20West,%20Mumbai,%20Maharashtra%20400053+(waves%20gym)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                        href="https://www.gps.ie/">gps trackers</a></iframe></div>
        </div>


    </div>
</div>
</div>






<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>






{% endblock %}