{% extends 'gym/base.html' %}
{% load static %}


{% block 'content' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 personaltraining d-flex align-items-center">
            <h2 contenteditable="true">PERSONAL TRAINING <br>
                <span class="span1 fs-2">PERSONAL TRAINING
                    Certified Personal Trainers</span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="css1 p-5">
                Discover Personalized Fitness at
                                Waves Gym
            </div>



            <div class="row pt-0 p-5 fs-4">

                <!-- <div class="elementor-element elementor-element-517c614 e-con-full e-flex e-con e-child"
                    data-id="517c614" data-element_type="container"
                    data-settings="{&quot;content_width&quot;:&quot;full&quot;}">
                    
                            <h5 class="css1">Discover Personalized Fitness at
                                Waves Gym</h5>
                        </div> -->
                    
                    <div class="elementor-element elementor-element-7240ce6 elementor-widget elementor-widget-text-editor"
                        data-id="7240ce6" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <style>
                                /*! elementor - v3.18.0 - 20-12-2023 */
                                .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                    background-color: #69727d;
                                    color: #fff
                                }

                                .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                    color: #69727d;
                                    border: 3px solid;
                                    background-color: transparent
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                    margin-top: 8px
                                }

                                .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                    width: 1em;
                                    height: 1em
                                }

                                .elementor-widget-text-editor .elementor-drop-cap {
                                    float: left;
                                    text-align: center;
                                    line-height: 1;
                                    font-size: 50px
                                }

                                .elementor-widget-text-editor .elementor-drop-cap-letter {
                                    display: inline-block
                                }
                            </style>
                            <p>Your fitness journey is unique. That’s why at Waves Gym, our internationally certified
                                trainers craft a personal training program tailored just for you. Accelerate your
                                fitness and weight loss goals with our expert blend of cardio, strength training, and
                                the latest in fitness technology.</p>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-a488fca elementor-widget elementor-widget-text-editor"
                        data-id="a488fca" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p><strong>Why Choose Waves Gym Personal Trainers?</strong></p>
                            <ul>
                                <li><strong>Customized Workouts:</strong> Tailored exercise routines to fit your
                                    individual needs.<br><br></li>
                                <li><strong>Specialized Programs:</strong> Our trainers are skilled in Special
                                    Population Training, offering services for diverse fitness needs.</li>
                            </ul>
                        </div>
                    </div>
                    <div class="elementor-element elementor-element-12a49f7 elementor-widget elementor-widget-heading"
                        data-id="12a49f7" data-element_type="widget" data-widget_type="heading.default">
                        <div class="elementor-widget-container">
                            <h5 class="css1 mt-3">TAKE YOUR FITNESS TO THE NEXT
                                LEVEL WITH OUR CERTIFIED PERSONAL TRAINERS.</h5>
                        </div>
                    </div>
                    <div class="row p-5 rounded"
                        data-id="e918045" data-element_type="widget" data-widget_type="image.default">
                        <div class="col-md-6">
                            <img fetchpriority="high" decoding="async" width="800" height="800"
                                src="https://wavesgym.com/wp-content/uploads/2023/12/Personal-Training-Home-Page-Image.jpg"
                                class="img-thumbnail" alt="Personal Training"
                                srcset="https://wavesgym.com/wp-content/uploads/2023/12/Personal-Training-Home-Page-Image.jpg 1024w, https://wavesgym.com/wp-content/uploads/2023/12/Personal-Training-Home-Page-Image-300x300.jpg 300w, https://wavesgym.com/wp-content/uploads/2023/12/Personal-Training-Home-Page-Image-150x150.jpg 150w, https://wavesgym.com/wp-content/uploads/2023/12/Personal-Training-Home-Page-Image-768x768.jpg 768w"
                                sizes="(max-width: 800px) 100vw, 800px">
                        </div>
                    </div>
                    <!-- <div class=" row pt-0 p-5 rounded" >
                        <div class="col-md-6">
                            <img src="{% static 'images/abCoffee-Web-Image.jpg' %}" class="img-thumbnail" alt="...">
                        </div>
                        
                    </div> -->
                    <div class="elementor-element elementor-element-0074cdb elementor-widget elementor-widget-text-editor"
                        data-id="0074cdb" data-element_type="widget" data-widget_type="text-editor.default">
                        <div class="elementor-widget-container">
                            <p><strong>Elevate Your Fitness Experience</strong></p>
                            <p>Our trainers stay on the forefront of fitness trends, from Kettlebell techniques to
                                CrossFit, ensuring your regimen is dynamic and effective. With our advanced tracking
                                technology, your progress is monitored closely, adapting your plan to your evolving
                                fitness level.</p>
                            <p><strong>Experience the Waves Gym Difference</strong></p>
                            <p>Join us for a complimentary personal training session and feel the impact of dedicated,
                                professional support. Our commitment to your health is just a conversation away.</p>
                            <p><strong>Get in Touch</strong></p>
                            <p>Ready to transform the impossible into ‘I’m possible’? Contact us today and take the
                                first step towards a fitter, healthier you.</p>
                        </div>
                    </div>
                </div>





            </div>


            <div class="col-md-4  p-5 ">
                <!-- <div class="row bg-body-secondary p-4 rounded ">
                    <form class="" ">
                    <div class=" css2 py-3">
                        BOOK A FREE PT SESSION
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp"
                        placeholder="First Name">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp"
                        placeholder="Last Name">
                </div>
                <div class="mb-3">
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                        placeholder="Email address">
                </div>
                <div class="mb-3">
                    <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
                </div>
                <div class="mb-3 form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">I am interested in <strong>
                            "Personal Training"</strong> at Waves
                        Gym Andheri W, Mumbai. Please call me.</label>
                </div>
                <button type="submit" class="btn btn-outline-warning css2">Send</button>
                </form>


            </div> -->

            <div class="card p-5 rounded border-0">


                <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no"
                        marginheight="0" marginwidth="0"
                        src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=waves%20gym%20,5th%20Floor,%20Morya%20Estate,%20New%20Link%20Rd,%20opp.%20Infiniti%20Mall,%20Veera%20Desai%20Industrial%20Estate,%20Andheri%20West,%20Mumbai,%20Maharashtra%20400053+(waves%20gym)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                            href="https://www.gps.ie/">gps trackers</a></iframe></div>
            </div>


        </div>
    </div>
</div>










<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


{% endblock %}