{% extends 'gym/base.html' %}
{% load static %}


{% block 'content' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 termscondition d-flex align-items-center">
            <h2 contenteditable="true">MEMBERSHIP
                <span class="span1 ">POLICY </span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="css1 p-5">
                MEMBERSHIP TERMS & CONDITIONS
            </div>



            <div class="row pt-0 p-5 fs-4">
                <div class="elementor-widget-container">
                    <style>
                        /*! elementor - v3.18.0 - 20-12-2023 */
                        .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                            background-color: #69727d;
                            color: #fff
                        }

                        .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                            color: #69727d;
                            border: 3px solid;
                            background-color: transparent
                        }

                        .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                            margin-top: 8px
                        }

                        .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                            width: 1em;
                            height: 1em
                        }

                        .elementor-widget-text-editor .elementor-drop-cap {
                            float: left;
                            text-align: center;
                            line-height: 1;
                            font-size: 50px
                        }

                        .elementor-widget-text-editor .elementor-drop-cap-letter {
                            display: inline-block
                        }
                    </style>
                   

                    <p>The Membership Terms and Conditions mentioned herein shall form an integral part of the
                        Membership Application &amp; Agreement Form duly signed by the Member and shall be binding upon
                        the Member. They shall govern the obligations and rights of Paradise Fitness &amp; Health
                        Private Limited.</p>

                    <h3 class="wp-block-heading">1) HOURS OF OPERATION</h3>

                    <p>Monday – Saturday<br>Gym — 6am to 12 midnight. Spa – 6.15am to 11.45pm<br>Sunday — 6am to 10pm.
                        Spa – 6.15am to 9.45 pm</p>

                    <p>The Management reserves the right to adjust the hours for purposes of cleaning, decorating,
                        repairs, special private functions and holidays. The Management shall endeavor to give
                        reasonable notice of any change in operating hours.</p>

                    <h3 class="wp-block-heading">2) MEMBERSHIP ACCESS, GYM APP AND GROUP CLASS BOOKING</h3>

                    <p>a. After enrollment procedure, the Club will take the Members fingerprint scanning for gym
                        attendance. Our Members must use their fingerprint or PIN on each visit to gain access to the
                        Gym.<br>b. For booking a Group Exercise class, each member will be given a password to access
                        gyms free App<br>c. Workout Chart and General Nutrition plan will work on the App for member
                        use.<br>d. Members can share their feedbacks, get gym notifications, refer a friend and see
                        their progress on the gym App.</p>

                    <h3 class="wp-block-heading">3) LOCKER USAGE</h3>

                    <p>a. A Member is not permitted to keep his belongings in the Lockers overnight as the Club
                        Management shall open all these lockers at the end of the day. Lockers are for day usage only,
                        any articles or belongings found inside these Lockers shall be disposed of and or destroyed by
                        the Club Management after a holding period of three (3) calendar days.<br>b. For clubs Locker
                        system, in the event of damage to the lock by Member, a fee would be charged to the Member of Rs
                        5000.<br>c. The Company shall not be liable for any theft of or damage to any belongings of the
                        Members. Personal belongings may be placed in a locker by a Member at his own risk and sole
                        responsibility releasing the Company from any liability towards any loss or damage incurred
                        while the belongings are placed in lockers.</p>

                    <h3 class="wp-block-heading">4) DRESS CODE, FOOTWEAR &amp; HYGIENE</h3>

                    <p>a. Appropriate clothing and footwear must be worn in all areas of the club and for all
                        activities.<br>b. Entry will be denied if correct footwear and apparel are not adhered to.<br>c.
                        Sweat towels are essential in all areas of the club. Please place the towel on the equipment
                        before use.<br>d. Please be aware of body odors while exercising and make every attempt to
                        prevent discomfort to others.</p>

                    <h3 class="wp-block-heading">5) NO SMOKING, DRINKING ALCOHOLIC BEVERAGES, DRUGS, PETS ETC. IN THE
                        CLUB:</h3>

                    <p>The Company reserves its right to restrict the entry and terminate the membership of any Member
                        without any notice if the Member is found to have consumed any alcohol, drugs or other illegal
                        or intoxicating substance before entering the Club or within the Club or if he brings such
                        substances to the Club. The decision of the Club Management will be final and binding in the
                        matter, with no refund of Membership Dues for any paid but unused services or remaining period
                        of Membership.</p>

                    <h3 class="wp-block-heading">6) DAMAGES</h3>

                    <p>Member takes the full responsibility for any damage caused to any of the Gym’s property or
                        equipment, either willfully, involuntarily or through negligence should agree to compensate the
                        Gym for the full cost of repairs or replacement that result from said damage.</p>

                    <h3 class="wp-block-heading">7) TERMINATION OF MEMBERSHIP</h3>

                    <p>The Company reserves its right to terminate the membership of any Member without any refund of
                        the Membership dues if any behavior deemed inappropriate by management.</p>

                    <h3 class="wp-block-heading">8) MINIMUM AGE FOR MEMBERSHIP</h3>

                    <p>The minimum age of entry into the club is 14 years. Machine instruction is essential before use.
                    </p>

                    <h3 class="wp-block-heading">9) CHANGE OF RULES AND REGULATIONS</h3>

                    <p>The Club, at its discretion, may change these rules and regulations at any time, but in doing so,
                        will make every attempt to advise members and guest of these amendments and variations in
                        advance. All signage in and around the Club is to be considered part of the rules and
                        regulations.</p>

                    <h3 class="wp-block-heading">10) PHYSICAL CONDITIONS OF MEMBERS</h3>

                    <p>a) The Member warrants and represents that he/she is in good physical condition and that he/she
                        knows of no medical or other reason why he or she is not capable of engaging in active or
                        passive exercise and that such exercise would not be detrimental to his/her health, safety,
                        comfort or physical condition.<br>b) The Member shall not use any Club facilities while
                        suffering from any infections or contagious illness, disease or other ailments such as open
                        cuts, abrasions, open sores or minor infection, where there is a risk that such use may be
                        detrimental to the health, safety, comfort or physical condition of the other Members.</p>

                    <h3 class="wp-block-heading">11) PARKING</h3>

                    <p>a) Valet Parking is for members and guests when using the club.<br>b) We do not accept
                        responsibility for any loss, theft and/or damage to vehicles (or any mode of transport)
                        including any valuables left in them.<br>c) Valet Parking depends on space availability.</p>

                    <h3 class="wp-block-heading">12) FREEZING OF MEMBERSHIP</h3>

                    <p>a) Freezing option is applicable only on Annual Membership.<br>b) Freezing is for a minimum of
                        one month and a maximum of 3 months at Rs 700 per month.<br>c) To freeze a membership, you can
                        either email us at sunitta@wavesgym.com (from your registered email address on your membership)
                        or complete a form in person at the gym. It is your responsibility to ensure we receive this
                        notification.<br>d) Back freeze is not permitted if the break is taken on the Membership.</p>

                    <h3 class="wp-block-heading">13) TRANSFER OF MEMBERSHIP</h3>

                    <p>a) Transfer option is applicable only on Annual Membership<br>b) Transfer of Membership can be
                        done to only a Non- member at Rs 2000<br>c) Transfer Membership Formalities must be done by both
                        parties present at the Gym in front of the General Manager.</p>

                    <h3 class="wp-block-heading">14) PERSONAL TRAINING</h3>

                    <p>a) Personal Training is an add-on service with additional charges and have separate Terms &amp;
                        Conditions.<br>b) A Member must read the term &amp; conditions properly before the service
                        begins.<br>c) No refund will be given in the event of personal training membership
                        cancellation.<br>d) No outside trainers can train in the Club.</p>
                </div>






            </div>
        </div>


        <div class="col-md-4  p-5 ">
            <!-- <div class="row bg-body-secondary p-4 rounded ">
                <form class="" ">
                    <div class=" css2 py-3">
                    SIGN-UP TODAY!
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp"
                    placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp"
                    placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email address">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I am interested in <strong> "Membership"</strong> at
                    Waves
                    Gym Andheri W, Mumbai. Please call me.</label>
            </div>
            <button type="submit" class="btn btn-outline-warning css2">Send</button>
            </form>


        </div>

        <div class="card p-5 rounded border-0">


            <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=waves%20gym%20,5th%20Floor,%20Morya%20Estate,%20New%20Link%20Rd,%20opp.%20Infiniti%20Mall,%20Veera%20Desai%20Industrial%20Estate,%20Andheri%20West,%20Mumbai,%20Maharashtra%20400053+(waves%20gym)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                        href="https://www.gps.ie/">gps trackers</a></iframe></div>
        </div> -->


        </div>
    </div>
</div>









<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>



{% endblock %}