{% extends 'gym/base.html' %}
{% load static %}


{% block 'content' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 poweryoga d-flex align-items-center">
            <h2 contenteditable="true">POWER YOGA <br>
                <span class="span1 fs-3">The holistic way to deal with stress and fitness!</span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="css1 p-5">
                POWER YOGA
            </div>



            <div class="row pt-0 p-5 fs-4">

                <div class="elementor-element elementor-element-5abe31d elementor-widget elementor-widget-text-editor"
                    data-id="5abe31d" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <style>
                            /*! elementor - v3.18.0 - 20-12-2023 */
                            .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                background-color: #69727d;
                                color: #fff
                            }

                            .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                color: #69727d;
                                border: 3px solid;
                                background-color: transparent
                            }

                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                margin-top: 8px
                            }

                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                width: 1em;
                                height: 1em
                            }

                            .elementor-widget-text-editor .elementor-drop-cap {
                                float: left;
                                text-align: center;
                                line-height: 1;
                                font-size: 50px
                            }

                            .elementor-widget-text-editor .elementor-drop-cap-letter {
                                display: inline-block
                            }
                        </style>
                        <p><span style="font-weight: 400;">Power Yoga at Waves Gym is an intense workout that will
                                exercise your sweat glands to their full potential!&nbsp;</span></p>
                        <p><span style="font-weight: 400;">You not only burn an insane amount of calories here but also
                                improve flexibility, body balance, and core strength. After the 60-minute class, you’ll
                                definitely leave with a positive glow on your face and skip in your step!</span></p>
                        <p><b>BENEFITS:</b></p>
                        <ul>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Promotes weight loss and
                                    metabolism</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Improves muscle tone, mood,
                                    and quality of sleep</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Builds concentration and
                                    memory</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Builds confidence</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Improves bone density and
                                    flexibility</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Improves lung capacity and
                                    increases blood flow</span></li>
                        </ul>
                        <p><a href="/location" class="text-warning" style="text-decoration: none;"><b>Why Waves
                                    Gym?</b></a></p>
                        <ul>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Certified experienced
                                    instructors</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Beginner-friendly
                                    classes</span></li>
                            <li style="font-weight: 400;"><span style="font-weight: 400;">Dedicated group fitness class
                                    studio</span></li>
                        </ul>
                    </div>
                </div>
                <div class="elementor-element elementor-element-37c3e10 elementor-widget elementor-widget-image row"
                    data-id="37c3e10" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container col-md-6">
                        <img fetchpriority="high" decoding="async" width="800" height="534"
                            src="https://wavesgym.com/wp-content/uploads/2017/10/GFX-Hero-Hatha_Yoga-3000x2000-1-1024x683.jpg"
                            class="attachment-large size-large wp-image-180 img-thumbnail rounded" alt=""
                            srcset="https://wavesgym.com/wp-content/uploads/2017/10/GFX-Hero-Hatha_Yoga-3000x2000-1-1024x683.jpg 1024w, https://wavesgym.com/wp-content/uploads/2017/10/GFX-Hero-Hatha_Yoga-3000x2000-1-300x200.jpg 300w, https://wavesgym.com/wp-content/uploads/2017/10/GFX-Hero-Hatha_Yoga-3000x2000-1-768x512.jpg 768w, https://wavesgym.com/wp-content/uploads/2017/10/GFX-Hero-Hatha_Yoga-3000x2000-1-1536x1024.jpg 1536w, https://wavesgym.com/wp-content/uploads/2017/10/GFX-Hero-Hatha_Yoga-3000x2000-1-2048x1365.jpg 2048w"
                            sizes="(max-width: 800px) 100vw, 800px">
                    </div>
                </div>
                <div class="elementor-element elementor-element-33df036 elementor-widget elementor-widget-text-editor mt-3"
                    data-id="33df036" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <p><b>POWER UP WITH POWER YOGA!</b></p>
                        <p><span style="font-weight: 400;">Lift your spirit, build your body and relax your mind with
                                yoga at Waves Gym.</span></p>
                        <p><span style="font-weight: 400;">Sign up for a FREE trial class NOW! For any further queries,
                                please feel free to get in touch with us.</span></p>
                    </div>
                </div>



            </div>
        </div>


        <div class="col-md-4  p-5 ">
            <!-- <div class="row bg-body-secondary p-4 rounded ">
                <form class="" ">
                    <div class=" css2 py-3">
                    BOOK A FREE CLASS
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp"
                    placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp"
                    placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email address">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I am interested in <strong>
                        "Power Yoga"</strong> at Waves
                    Gym Andheri W, Mumbai. Please call me.</label>
            </div>
            <button type="submit" class="btn btn-outline-warning css2">Send</button>
            </form>


        </div> -->

        <div class="card p-5 rounded border-0">


            <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=waves%20gym%20,5th%20Floor,%20Morya%20Estate,%20New%20Link%20Rd,%20opp.%20Infiniti%20Mall,%20Veera%20Desai%20Industrial%20Estate,%20Andheri%20West,%20Mumbai,%20Maharashtra%20400053+(waves%20gym)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                        href="https://www.gps.ie/">gps trackers</a></iframe></div>
        </div>


    </div>
</div>
</div>










<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


{% endblock %}