{% extends 'gym/base.html' %}
{% load static %}


{% block 'content' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 rapidrelief d-flex align-items-center">
            <h2 contenteditable="true">RAPID MUSCLE
                <span class="span1 ">RELIEF</span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="css1 p-5">
                TRANSFORM YOUR RECOVERY - EXPERIENCE PERCUSSION MASSAGE THERAPY FOR RAPID MUSCLE RELIEF AT WAVES GYM
            </div>



            <div class="row pt-0 p-5 fs-4">
                <div class="elementor-widget-container">
                    <style>
                        /*! elementor - v3.18.0 - 20-12-2023 */
                        .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                            background-color: #69727d;
                            color: #fff
                        }

                        .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                            color: #69727d;
                            border: 3px solid;
                            background-color: transparent
                        }

                        .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                            margin-top: 8px
                        }

                        .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                            width: 1em;
                            height: 1em
                        }

                        .elementor-widget-text-editor .elementor-drop-cap {
                            float: left;
                            text-align: center;
                            line-height: 1;
                            font-size: 50px
                        }

                        .elementor-widget-text-editor .elementor-drop-cap-letter {
                            display: inline-block
                        }
                    </style>
                    <p>Welcome to a new era of muscle recovery and relaxation. Waves Gym is proud to introduce our
                        cutting-edge Percussion Massage Therapy, utilizing the powerful Hypervolt 2 Pro. Now, the same
                        high-intensity percussion therapy loved by the world’s top athletes is available right at your
                        fingertips.</p>
                    <p><strong>Why Choose Percussion Massage Therapy?</strong></p>
                    <ul>
                        <li>
                            <p><strong>Rapid Muscle Relief:</strong> The Hypervolt 2 Pro is our most potent device,
                                offering profound, penetrating massage to alleviate muscle stiffness. Now, you can train
                                harder and recover quicker.</p>
                        </li>
                        <li>
                            <p><strong>Customizable Intensity:</strong> Tailor your therapy with five adjustable speeds.
                                Whether it’s intense recovery or gentle relaxation, find your perfect rhythm with the
                                digital speed dial.</p>
                        </li>
                        <li>
                            <p><strong>Guided Routines:</strong> Elevate your warm-up and recovery with the Hyperice
                                App. Enjoy routines crafted by leading athletes and tailored to your body’s needs.</p>
                        </li>
                        <li>
                            <p><strong>Convenient and Efficient:</strong> Each session lasts just 15 minutes, perfect
                                for a quick break or post-workout recovery, all for an affordable price of INR 249.</p>
                        </li>
                    </ul>
                    <p><strong>Ready to Revolutionize Your Recovery?</strong></p>
                    <p><strong>Book Your Session Now</strong>&nbsp;– Don’t miss out on this opportunity to boost your
                        performance, relieve your muscles, and embrace a faster recovery. Join us at Waves Gym and step
                        into the realm of professional athletes. Your journey towards optimized recovery starts here.
                    </p>
                </div>
            </div>





        </div>


        <div class="col-md-4  p-5 ">
            <!-- <div class="row bg-body-secondary p-4 rounded ">
                <form class="" ">
                    <div class=" css2 py-3">
                        RAPID MUSCLE RELIEF
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp"
                    placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp"
                    placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email address">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I am interested in <strong> "Rapid Muscle Relief"</strong> at Waves
                    Gym Andheri W, Mumbai. Please call me.</label>
            </div>
            <button type="submit" class="btn btn-outline-warning css2">Send</button>
            </form>


        </div> -->

        <div class="card p-5 rounded border-0">


            <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=waves%20gym%20,5th%20Floor,%20Morya%20Estate,%20New%20Link%20Rd,%20opp.%20Infiniti%20Mall,%20Veera%20Desai%20Industrial%20Estate,%20Andheri%20West,%20Mumbai,%20Maharashtra%20400053+(waves%20gym)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                        href="https://www.gps.ie/">gps trackers</a></iframe></div>
        </div>


    </div>
</div>
</div>









<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>



{% endblock %}