{% extends 'gym/base.html' %}
{% load static %}


{% block 'content' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 referafriend d-flex align-items-center">
            <h2 contenteditable="true">REFER A FRIEND <br>
                <span class="span1 fs-3">Get fit and save loads while you do it!</span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="css1 p-5">
                TRANSFORM YOUR RECOVERY - EXPERIENCE PERCUSSION MASSAGE THERAPY FOR RAPID MUSCLE RELIEF AT WAVES GYM
            </div>



            <div class="row pt-0 p-5 fs-4">
                <div class="elementor-widget-container">
                    <style>
                        /*! elementor - v3.18.0 - 20-12-2023 */
                        .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                            background-color: #69727d;
                            color: #fff
                        }

                        .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                            color: #69727d;
                            border: 3px solid;
                            background-color: transparent
                        }

                        .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                            margin-top: 8px
                        }

                        .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                            width: 1em;
                            height: 1em
                        }

                        .elementor-widget-text-editor .elementor-drop-cap {
                            float: left;
                            text-align: center;
                            line-height: 1;
                            font-size: 50px
                        }

                        .elementor-widget-text-editor .elementor-drop-cap-letter {
                            display: inline-block
                        }
                    </style>
                    <h3 class="wp-block-heading">Transform Your Fitness Journey with Friends at Waves Gym!</h3>

                    <ol>
                        <li>
                            <p>🌟 <strong>Refer a Friend, Elevate Your Experience!</strong> 🌟</p>
                            <p>At Waves Gym, we’re not just a fitness center; we’re a community. We believe in the power
                                of group fitness, and it’s even more rewarding with your friends by your side. It’s not
                                just about a workout; it’s about sharing a journey towards better health and having fun
                                along the way.</p>
                            <p><strong>Why Bring Friends to Waves Gym?</strong></p>
                            <ul>
                                <li>🏋️ <strong>Energetic Atmosphere</strong>: Thrive in a vibrant facility that
                                    inspires you to push your limits.</li>
                                <li>💪 <strong>Expert Trainers</strong>: Get guidance from certified professionals who
                                    know how to make your fitness goals a reality.</li>
                                <li>🌍 <strong>World-Class Programs</strong>: Access diverse workout routines,
                                    recognized and loved globally.</li>
                                <li>📍 <strong>Convenience at Its Best</strong>: Easy accessibility, ample parking, and
                                    a handy gym app.</li>
                                <li>🚗 <strong>Stress-Free Parking</strong>: We valet. Never worry about finding a spot.
                                </li>
                                <li>📲 <strong>Waves Gym App</strong>: Manage your workouts and progress with ease.</li>
                                <li>🔄 <strong>Exceptional Facilities</strong>: Enjoy top-notch changing rooms and
                                    amenities.<br><br></li>
                            </ul>
                            <p>🌟 <strong>Special Referral Offer</strong> 🌟 For every friend you bring to Waves Gym,
                                we’ll thank you by adding an extra month to your membership – absolutely free! It’s our
                                way of saying we appreciate you for helping us make Mumbai a fitter, healthier city.</p>
                            <p><strong>Ready to Make a Difference?</strong></p>
                            <ul>
                                <li><strong>Refer a Friend Today!</strong></li>
                                <li><strong>Join the Fitness Revolution at Waves Gym!<br><br></strong></li>
                            </ul>
                            <p><strong>Together, let’s reach new heights in fitness and friendship. Your gym journey is
                                    about to get even more exciting!</strong></p>
                        </li>
                    </ol>
                </div>
            </div>





        </div>


        <div class="col-md-4  p-5 ">
            <!-- <div class="row bg-body-secondary p-4 rounded ">
                <form class="" ">
                    <div class=" css2 py-3">
                        REFER A FRIEND
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp"
                    placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp"
                    placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email address">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I am interested in <strong> "Refer a Friend"</strong> at Waves
                    Gym Andheri W, Mumbai. Please call me.</label>
            </div>
            <button type="submit" class="btn btn-outline-warning css2">Send</button>
            </form>


        </div> -->

        <div class="card p-5 rounded border-0">


            <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=waves%20gym%20,5th%20Floor,%20Morya%20Estate,%20New%20Link%20Rd,%20opp.%20Infiniti%20Mall,%20Veera%20Desai%20Industrial%20Estate,%20Andheri%20West,%20Mumbai,%20Maharashtra%20400053+(waves%20gym)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                        href="https://www.gps.ie/">gps trackers</a></iframe></div>
        </div>


    </div>
</div>
</div>










<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>


{% endblock %}