{% extends 'gym/base.html' %}
{% load static %}


{% block 'content' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 starttoday d-flex align-items-center">
            <h2 contenteditable="true">START TODAY AT WAVES GYM <br>
                <span class="span1 fs-1">#SAFESWEATSPACE!</span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="css1 p-5">
                WELCOME TO WAVES GYM: YOUR SANCTUARY WHERE SAFETY MEETS SWEAT!
            </div>



            <div class="row pt-0 p-5 fs-4">
                <div class="elementor-widget-container">
                    <style>
                        /*! elementor - v3.18.0 - 20-12-2023 */
                        .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                            background-color: #69727d;
                            color: #fff
                        }

                        .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                            color: #69727d;
                            border: 3px solid;
                            background-color: transparent
                        }

                        .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                            margin-top: 8px
                        }

                        .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                            width: 1em;
                            height: 1em
                        }

                        .elementor-widget-text-editor .elementor-drop-cap {
                            float: left;
                            text-align: center;
                            line-height: 1;
                            font-size: 50px
                        }

                        .elementor-widget-text-editor .elementor-drop-cap-letter {
                            display: inline-block
                        }
                    </style>
                    <p><strong>Welcome to Waves Gym: Where Legacy and Safety Empower Your Fitness Journey</strong></p>
                    <p>At Waves Gym, we’re not just a gym; we’re a legacy of strength, safety, and community. For 20
                        years, we’ve been more than a place to sweat; we’ve been a sanctuary for everyone seeking a safe
                        and empowering space to embrace their fitness journey. Here, your well-being is our priority,
                        and every workout is a step toward your best self.</p>
                    <p><strong>Our #SafeSweatSpace Commitment: More Than Just a Promise</strong></p>
                    <p>Your journey with us is about more than achieving fitness goals; it’s about finding a safe haven
                        where you can grow, heal, and celebrate your achievements. Our commitment to your safety and
                        well-being is unwavering, with private access, constant surveillance, and a nurturing
                        environment that goes beyond the physical.</p>
                    <p><strong>Discover the Waves Gym Difference: A Legacy of Empowerment</strong></p>
                    <p>Join a community where your fitness journey is honored and supported. Our state-of-the-art
                        facilities are designed with your safety and wellness in mind. From internationally certified
                        trainers to over 150 group fitness classes, we cater to every fitness level and preference.</p>
                    <p>Our luxurious amenities, including new showers, steam rooms, and a coffee cafe, are here to
                        enhance your experience, making every visit to Waves Gym a retreat from the ordinary.</p>
                    <p><strong>Join the Legacy Today</strong></p>
                    <p>Embark on a fitness journey where safety and support are integral to your success. Sign up this
                        month to join our community and unlock a complimentary wellness workshop, exclusive to our new
                        members. With flexible membership options and a welcoming environment, your path to empowerment
                        starts here.</p>
                    <p><strong>Waves Gym: A 20-Year Legacy of Fitness Excellence</strong></p>
                    <p>Step into a world where your potential is unlimited, your safety is paramount, and your
                        well-being is our ultimate goal. With world-class facilities, expert trainers, and a legacy of
                        empowerment, Waves Gym is your sanctuary where safety meets sweat.</p>
                    <p>Ready to begin your fitness journey? Join Waves Gym today and transform your life in a space
                        where every workout is a celebration of your strength and resilience.</p>
                    <p><strong>Your journey to empowerment starts here. Join the legacy, embrace your strength, and
                            discover the intrinsic value of a truly safe and supportive fitness space.</strong></p>
                </div>
            </div>





        </div>


        <div class="col-md-4  p-5 ">
            <!-- <div class="row bg-body-secondary p-4 rounded ">
                <form class="" ">
                    <div class=" css2 py-3">
                        START TODAY AT WAVES GYM – #SAFESWEATSPACE!
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp"
                    placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp"
                    placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email address">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I am interested in <strong> "Start Today at Waves Gym – #SafeSweatSpace!"</strong> at Waves
                    Gym Andheri W, Mumbai. Please call me.</label>
            </div>
            <button type="submit" class="btn btn-outline-warning css2">Send</button>
            </form>


        </div> -->

        <div class="card p-5 rounded border-0">


            <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=waves%20gym%20,5th%20Floor,%20Morya%20Estate,%20New%20Link%20Rd,%20opp.%20Infiniti%20Mall,%20Veera%20Desai%20Industrial%20Estate,%20Andheri%20West,%20Mumbai,%20Maharashtra%20400053+(waves%20gym)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                        href="https://www.gps.ie/">gps trackers</a></iframe></div>
        </div>


    </div>
</div>
</div>






<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>






{% endblock %}