{% extends 'gym/base.html' %}
{% load static %}


{% block 'content' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 termscondition d-flex align-items-center">
            <h2 contenteditable="true">TERMS & 
                <span class="span1 ">CONDITIONS </span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="css1 p-5">
                <!-- WAVES GYM: A 20-YEAR FITNESS LEGACY! -->
            </div>



            <div class="row pt-0 p-5 fs-4">
                <div class="elementor-widget-container">

                    <p>WAVES GYM retains copyright on all the text, graphics and trademarks displayed on this site. All
                        the text, graphics and trademarks displayed on this site are owned by WAVES GYM and used under
                        license by WAVES GYM affiliates.</p>



                    <p>You may print copies of the information on this site for your personal use and store the files on
                        your computer for personal use. You may not distribute text or graphics to others without the
                        express written consent of WAVES GYM and WAVES GYM affiliates. Also, you may not, without our
                        permission, copy and distribute this information on any other server, or modify or reuse text or
                        graphics on this or any another system.</p>



                    <p>No reproduction of any part of the site may be sold or distributed for commercial gain, nor shall
                        it be modified or incorporated in any other work, publication or site, whether in hard copy or
                        electronic format, including postings to any other site. WAVES GYM reserves all other rights.
                    </p>



                    <p>The information on this site has been included in good faith and is for general purposes only. It
                        should not be relied upon for any specific purpose and no representation or warranty is given as
                        regards its accuracy or completeness.</p>



                    <p>No information on this site shall constitute an invitation to invest in WAVES GYM or any of its
                        affiliates. Neither WAVES GYM and WAVES GYM affiliates, nor their or their affiliates’ officers,
                        employees or agents shall be liable for any loss, damage or expense arising out of any access to
                        or use of this site or any site linked to it, including, without limitation, any loss of profit,
                        indirect, incidental or otherwise.</p>
                </div>
            </div>






        </div>


        <div class="col-md-4  p-5 ">
            <!-- <div class="row bg-body-secondary p-4 rounded ">
                <form class="" ">
                    <div class=" css2 py-3">
                    SIGN-UP TODAY!
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp"
                    placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp"
                    placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email address">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I am interested in <strong> "Membership"</strong> at
                    Waves
                    Gym Andheri W, Mumbai. Please call me.</label>
            </div>
            <button type="submit" class="btn btn-outline-warning css2">Send</button>
            </form>


        </div>

        <div class="card p-5 rounded border-0">


            <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=waves%20gym%20,5th%20Floor,%20Morya%20Estate,%20New%20Link%20Rd,%20opp.%20Infiniti%20Mall,%20Veera%20Desai%20Industrial%20Estate,%20Andheri%20West,%20Mumbai,%20Maharashtra%20400053+(waves%20gym)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                        href="https://www.gps.ie/">gps trackers</a></iframe></div>
        </div> -->


    </div>
</div>
</div>








<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>




{% endblock %}