{% extends 'gym/base.html' %}
{% load static %}


{% block 'content' %}

<link rel="stylesheet" href="{% static 'css/style.css' %}">
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 zumbafitness d-flex align-items-center">
            <h2 contenteditable="true">ZUMBA FITNESS <br>
                <span class="span1 fs-3">Where every beat drops calories & lifts spirits in our dance party!</span>
            </h2>
        </div>
    </div>

    <div class="row">
        <div class="col-md-8">
            <div class="css1 p-5">
                GET FIT WITH FUN – JOIN OUR ZUMBA FITNESS PARTY AT WAVES GYM!
            </div>



            <div class="row pt-0 p-5 fs-4">

                <div class="elementor-element elementor-element-e279483 elementor-widget elementor-widget-text-editor"
                    data-id="e279483" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <style>
                            /*! elementor - v3.18.0 - 20-12-2023 */
                            .elementor-widget-text-editor.elementor-drop-cap-view-stacked .elementor-drop-cap {
                                background-color: #69727d;
                                color: #fff
                            }

                            .elementor-widget-text-editor.elementor-drop-cap-view-framed .elementor-drop-cap {
                                color: #69727d;
                                border: 3px solid;
                                background-color: transparent
                            }

                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap {
                                margin-top: 8px
                            }

                            .elementor-widget-text-editor:not(.elementor-drop-cap-view-default) .elementor-drop-cap-letter {
                                width: 1em;
                                height: 1em
                            }

                            .elementor-widget-text-editor .elementor-drop-cap {
                                float: left;
                                text-align: center;
                                line-height: 1;
                                font-size: 50px
                            }

                            .elementor-widget-text-editor .elementor-drop-cap-letter {
                                display: inline-block
                            }
                        </style>
                        <p>Experience a blast of energy and joy with each dance move in our dynamic Zumba classes. Our
                            workout is more than just exercise; it’s a celebration with pulsating beats and vibrant
                            dance styles, including Salsa, Merengue, Tango, Hip-Hop, and Bollywood. Unleash your
                            potential and dance away the calories.</p>
                        <p><strong>Top Benefits of Our Zumba Classes:</strong></p>
                        <ul>
                            <li>Maximum Calorie Burning</li>
                            <li>Comprehensive Body Toning</li>
                            <li>Enhanced Coordination</li>
                            <li>Boosted Endurance &amp; Posture</li>
                            <li>Stress Relief &amp; Mental Clarity</li>
                            <li>Elevated Mood &amp; Positivity<br><br></li>
                        </ul>
                        <p><strong>Why Choose Waves Gym for Zumba?</strong></p>
                        <ul>
                            <li>Certified, Passionate Instructors</li>
                            <li>Welcoming Classes for All Levels</li>
                            <li>State-of-the-Art Dance Studio</li>
                        </ul>
                    </div>
                </div>
                <div class="elementor-element elementor-element-b40e0c5 elementor-widget elementor-widget-image row"
                    data-id="b40e0c5" data-element_type="widget" data-widget_type="image.default">
                    <div class="elementor-widget-container col-md-6">
                        <img fetchpriority="high" decoding="async" width="768" height="512"
                            src="https://wavesgym.com/wp-content/uploads/2017/12/Zumba-2-768x512.jpg"
                            class="attachment-medium_large size-medium_large wp-image-3787 img-thumbnail rounded"
                            alt="Zumba Fitness"
                            srcset="https://wavesgym.com/wp-content/uploads/2017/12/Zumba-2-768x512.jpg 768w, https://wavesgym.com/wp-content/uploads/2017/12/Zumba-2-300x200.jpg 300w, https://wavesgym.com/wp-content/uploads/2017/12/Zumba-2-1024x683.jpg 1024w, https://wavesgym.com/wp-content/uploads/2017/12/Zumba-2-1536x1024.jpg 1536w, https://wavesgym.com/wp-content/uploads/2017/12/Zumba-2-2048x1366.jpg 2048w"
                            sizes="(max-width: 768px) 100vw, 768px">
                    </div>
                </div>
                <div class="elementor-element elementor-element-dee0a26 elementor-widget elementor-widget-text-editor"
                    data-id="dee0a26" data-element_type="widget" data-widget_type="text-editor.default">
                    <div class="elementor-widget-container">
                        <h3 class="css1 my-3">Ignite Your Fitness Journey!</h3>
                        <p>At Waves Gym, our Zumba Fitness classes are your ultimate Happy Hour. It’s time to elevate
                            your heart rate and joy with our expert instructors. Wave goodbye to calories and say hello
                            to a healthier, happier you!</p>
                        <p>Join us now and feel the rhythm of fitness like never before!</p>
                    </div>
                </div>



            </div>
        </div>


        <div class="col-md-4  p-5 ">
            <!-- <div class="row bg-body-secondary p-4 rounded ">
                <form class="" ">
                    <div class=" css2 py-3">
                    BOOK A FREE CLASS
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputFirstName" aria-describedby="firstNameHelp"
                    placeholder="First Name">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" id="exampleInputLastName" aria-describedby="lastNameHelp"
                    placeholder="Last Name">
            </div>
            <div class="mb-3">
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                    placeholder="Email address">
            </div>
            <div class="mb-3">
                <input type="number" class="form-control" id="exampleInputMobile" placeholder="Mobile Number">
            </div>
            <div class="mb-3 form-check">
                <input type="checkbox" class="form-check-input" id="exampleCheck1">
                <label class="form-check-label" for="exampleCheck1">I am interested in <strong>
                        "Zumba Fitness"</strong> at Waves
                    Gym Andheri W, Mumbai. Please call me.</label>
            </div>
            <button type="submit" class="btn btn-outline-warning css2">Send</button>
            </form>


        </div> -->

        <div class="card p-5 rounded border-0">


            <div style="width: 100%"><iframe width="100%" height="500" frameborder="0" scrolling="no" marginheight="0"
                    marginwidth="0"
                    src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=waves%20gym%20,5th%20Floor,%20Morya%20Estate,%20New%20Link%20Rd,%20opp.%20Infiniti%20Mall,%20Veera%20Desai%20Industrial%20Estate,%20Andheri%20West,%20Mumbai,%20Maharashtra%20400053+(waves%20gym)&amp;t=&amp;z=14&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a
                        href="https://www.gps.ie/">gps trackers</a></iframe></div>
        </div>


    </div>
</div>
</div>








<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>




{% endblock %}